table{
    border-collapse: collapse;
    border: 1px solid black;
    background-color: white;
    position: relative;
    top:5%;
    margin-left: auto;
    margin-right: auto;
}

td{
    height: 180px;
    width: 180px;
    border: 4px solid black;
    background-color: white;
}

h1{
    font-size:28px;
}

body{
    font-family: "Press Start 2P";
    color: #FFFFFF;
    height: 100%;
}

#gray-background{
    background-color: #484848;
    position: fixed;
    height:100%;
    width:100%;
}

#red-background{
    background-color: #AC0000;
    top: 62%;
    height:3%;
    width:100%;
    position: fixed;
}

#grayer-background{
    background-color: #606060;
    top: 65%;
    height:3%;
    width:100%;
    position:fixed;
}

#light-gray-background{
    background-color: #919191;
    top:68%;
    height:3%;
    width: 100%;
    position: fixed;
}

#white-background{
    background-color: #FFFFFF;
    top:71%;
    height: 3%;
    width: 100%;
    position: fixed;
}

#main-body{
    position: relative;
    width: 1550px;
    height: 1080px;
    text-align: center;
}

#title{
    top: 15px;
    position: relative;
}

#score{
    top: 15px;
    position: relative;
}

#time{
    top: 15px;
    position: relative;
}

#uwu{
    top:100px;
}

#owo{
    top:100px;
}

#rawr{
    top:100px;
}