body{
    font-family: "Press Start 2P";
    color: #FFFFFF;
    height: 100%;
}

#gray-background{
    background-color: #484848;
    position: fixed;
    height:100%;
    width:100%;
}

#red-background{
    background-color: #AC0000;
    top: 62%;
    height:3%;
    width:100%;
    position: fixed;
}

#grayer-background{
    background-color: #606060;
    top: 65%;
    height:3%;
    width:100%;
    position:fixed;
}

#light-gray-background{
    background-color: #919191;
    top:68%;
    height:3%;
    width: 100%;
    position: fixed;
}

#white-background{
    background-color: #FFFFFF;
    top:71%;
    height: 3%;
    width: 100%;
    position: fixed;
}

#main-body{
    position: relative;
    width: 1550px;
    height: 1080px;
    text-align: center;
}

h1{
    font-size: 28px;
}

#title{
    position: relative;
}

#vid{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#uwu{
    top:40px;
}

#owo{
    top:40px;
}

#rawr{
    top:40px;
}